@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 30 5% 10%;
    --card: 0 0% 98%;
    --card-foreground: 30 5% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 30 5% 10%;
    --primary: 30 5% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 30 5% 10%;
    --muted: 0 0% 96%;
    --muted-foreground: 30 1% 61%;
    --accent: 145 39% 39%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 4% 94%;
    --input: 30 4% 94%;
    --ring: 30 5% 10%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}
